<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
 
    <property name="LOGS" value="./logs" />
  
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
 
    <appender name="ApplicationLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>ERROR</level>
        	<onMatch>DENY</onMatch>
	      	<onMismatch>ACCEPT</onMismatch>
   		 </filter>
        
        <file>${LOGS}/amber-app.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/amber-app-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="ErrorLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
       		<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
	      	<onMismatch>DENY</onMismatch>
    	</filter>
        
        <file>${LOGS}/amber-err.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/amber.err-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
     
    <!-- LOG everything in ERROR log -->
    <root level="error" additivity="false">
        <appender-ref ref="ErrorLog"/>
    </root>
     
    <!-- LOG everything at INFO level -->
    <root level="info" additivity="false">
        <appender-ref ref="ApplicationLog" />
        <appender-ref ref="Console" />
    </root>
 
    <!-- LOG amber at " DEBUG level -->
    <logger name="com.amber" level="debug" additivity="false">
        <appender-ref ref="ApplicationLog" />
        <appender-ref ref="Console" />
    </logger>
 
</configuration>