.menu > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu--menu-item {
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 1px;
    -webkit-transition: background-color 350ms;
    -moz-transition: background-color 350ms;
    -o-transition: background-color 350ms;
    transition: background-color 350ms;
}

.menu--menu-item > img {
    height: 20px;
    vertical-align: middle;
}

.menu--menu-item > span {
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
    color: #000;
}

.menu--menu-item:hover,
.menu--menu-item-selected {
    background-color: #e4eaee;
}